{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}{{title}}{% endblock  %}

{% block css_block %}
<style>
    .sign_up{
        width: 50%;
        
        padding: 20px;
    }
    .text{
        padding-bottom: 20px;
    }
    .log_in{
        width: 50%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
</style>
{% endblock  %}

{% block body_block %}
<center>
<div class="log_in">
    <h4 class="text">Login to connect and share.</h4>
<form method='POST'>
    {{form|crispy}}
    {% csrf_token %}
    <button type="submit" style="width:100%" class="btn btn-primary btn-sm">Log In</button>
</form>
</div>
<div class="sign_up">
    <p>Don't have an account? <a href="{% url 'App_Login:signup' %}">Sign up</a></p>
</div>
</center>
{% endblock  %}
