{% extends 'navbar.html' %}
{% load crispy_forms_tags %}

{% block title_block %}{{ title }}{% endblock  %}

{% block css_block %}
<style>
  body{
    color:white;
  }
  a{
    text-decoration: none;
  }
  .unread-message {
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid hwb(0 80% 20%);
    background-color: #484848;  
  }
  .date{
    font-size: 15px;
    font-weight: 500;
    color: #a4a4a4;
  }
</style>
{% endblock  %}

{% block body_block %} 
<h2>Inbox</h2>

{% if received_messages %}
<ul>
  {% for message in received_messages %}
    {% if message.is_new %}
      <li class='unread-message'>
    {% else %}
      <li>
    {% endif %}
    <strong>{{ message.sender.username }}</strong>  : {{ message.content|linebreaksbr|truncatechars_html:10}}<br>
    <div class="date">
      {{ message.timestamp }}<br>
    </div>
    
    <a href="{% url 'App_Message:conversation' user.username message.sender.username %}">View Conversation</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Your inbox is empty.</p>
{% endif %}

{% endblock %}
