{% extends 'navbar.html' %}
{% load crispy_forms_tags %}

{% block title_block %}{{ title }}{% endblock  %}

{% block css_block %}
<style>
    /* Add your custom CSS styles here */
</style>
{% endblock  %}

{% block body_block %}
<h1>Inbox</h1>

{% if received_messages %}
<ul>
  {% for message in received_messages %}
  <li>
    <strong>From:</strong> {{ message.sender.username }}<br>
    <strong>Date:</strong> {{ message.timestamp }}<br>
    <strong>Content:</strong> {{ message.content }}<br>
    <a href="{% url 'App_Message:conversation' user.username message.sender.username %}">View Conversation</a>
  </li>
{% endfor %}

</ul>
{% else %}
<p>Your inbox is empty.</p>
{% endif %}

{% endblock %}
