{% extends 'navbar.html' %}
{% load crispy_forms_tags %}

{% block title_block %}NewsFeed{% endblock %}

{% block css_block %}
<style>
  .posts {
    border: 1px solid #120e0e;
  }
  .search-posts{
    border: 1px solid #6f0505;
    width: 200px;
    height: auto;
  }
  .profile_link {
    padding: 10px;
  }
</style>
{% endblock %}

{% block body_block %}
{% for result_item in result %}
    {% if result_item.user_profile %}
      {% with user=result_item %}
        {% if user != request.user %}
          <div class="row">
            <div>
              {% if user.user_profile.profile_pic %}
                <a href="{% url 'App_Login:user' username=user.username %}">
                  <img src="/media/{{ user.user_profile.profile_pic }}" width="40px" height="40px" class="rounded-circle"> {{ user.user_profile.full_name }}
                </a>
              {% else %}
                <a href="{% url 'App_Login:user' username=user.username %}">
                  <img src="/media/default.png" width="40px" height="40px" class="rounded-circle"> {{ user.user_profile.full_name }}
                </a>
              {% endif %}
              <br>
            </div>
          </div>
        {% endif %}
      {% endwith %}
    {% else %}
      {% with post=result_item %}
        <div class="search-posts">
          <div class="profile_link">
            <div class="row">
              <div class="col-sm-11">
                <a href="{% url 'App_Login:user' username=post.author %}">{{ post.author }}</a>
              </div>
            </div>
          </div>
          <div style="padding: 10px 20px;">
            <p>{{ post.caption }}</p>
          </div>
          <a href="{% url 'App_Post:post_details' post_id=post.pk %}"><img src="{{ post.image.url }}" width="100%"></a>
        </div>
        <br><br>
      {% endwith %}
    {% endif %}
  {% endfor %}
  
  <div class="row">
    <div class="col-sm-9">
      {% for post in posts %}
        <div class="posts">
          <div class="profile_link">
            <div class="row">
              <div class="col-sm-1">
                {% if post.author.user_profile.profile_pic %}
                  <a href="{% url 'App_Login:user' username=post.author %}">
                    <img src="/media/{{ post.author.user_profile.profile_pic }}" width="70px" height="70px" class="rounded-circle">
                  </a>
                {% else %}
                  <a href="{% url 'App_Login:user' username=post.author %}">
                    <img src="/media/default.png" width="70px" height="70px" class="rounded-circle">
                  </a>
                {% endif %}
              </div>
              <div class="col-sm-11">
                <a href="{% url 'App_Login:user' username=post.author %}">{{ post.author }}</a>
                <br>
                {{ post.upload_date }}
              </div>
            </div>
          </div>
          <div style="padding: 10px 20px;">
            <p>{{ post.caption }}</p>
          </div>
          <a href="{% url 'App_Post:post_details' post_id=post.pk %}"><img src="{{ post.image.url }}" width="100%"></a>
          
          <div style="padding: 20px;">
            {% if post.pk in liked_post_list %}
              <a href="{% url 'App_Post:unlike' pk=post.pk %}"><i class="fa fa-heart" style="font-size: 36px;"></i></a>
            {% else %}
              <a href="{% url 'App_Post:liked' pk=post.pk %}"><i class="fa fa-heart-o" style="font-size: 36px;"></i></a>
            {% endif %}
            &nbsp; &nbsp; &nbsp;
            <a href="{% url 'App_Post:post_details' post_id=post.pk %}"><i class="fa-regular fa-comment" style="font-size: 36px;"></i> </a>
            <br>
            {{ post.liked_post.count }} Likes <br>

             <a href="{% url 'App_Post:post_details' post_id=post.pk %}">View all {{ post.comments.count }} Comments</a>
          </div>
            
          <!-- Add Comment Section -->
          <div>
            <form method="POST" action="{% url 'App_Post:add_comment' post_id=post.pk %}">
              {% csrf_token %}
              <textarea name="content" placeholder="Write a comment..." rows="2"></textarea>
              <button type="submit" class="btn btn-primary">Comment</button>
            </form>
          </div>
        </div>
        <br><br>
      {% endfor %}
    </div>
    
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-6">
          {% if request.user.user_profile.profile_pic %}
            <img src="/media/{{ request.user.user_profile.profile_pic }}" width="100%" height="100%" class="">
          {% else %}
            <img src="/media/default.png" width="100%" height="100%" class="">
          {% endif %}
        </div>
        <div class="col-sm-6">
          {{ request.user.username }}
          <br>
          {{ request.user.user_profile.full_name }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
