{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %}Notifications{% endblock %}

{% block css_block %}

{% endblock %}

{% block body_block %}
  <h1>Notifications</h1>
    {% if notifications %}
      <ul>
        {% for notification in notifications %}
          <li>
            {% if notification.notification_type == 'Like' %}
                <strong>{{ notification.target.username }}</strong> liked your post.
            {% elif notification.notification_type == 'Comment' %}
                <strong>{{ notification.target.username }}</strong> commented on your post.
            {% elif notification.notification_type == 'Follow' %}
              <a href="{% url 'App_Login:user' username=notification.target.username %}">
                <strong>{{ notification.target.username }}</strong> started following you.
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No notifications found.</p>
    {% endif %}
{% endblock %}
